on:
  push
jobs:
  job-one:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Runs a command
        run: |
          mysql -u root -p password
          # OR
          echo "Job One is Running"
  job-two:
    runs-on: ubuntu-latest
    needs: job-one
    if: success()
    steps:
      - name: Run only if job one succeeds
        run:
          echo ""Job Two is Running because of Job One Successful Completion
